.container {
    background-image: url(./images/cloud.jpg);
    border: solid;
    min-width: fit-content;
    max-width: 1230px;
    margin: 50px 80px 10px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}

.circleOne {
    display: inline-block;
    min-width: 220px;
    height: 210px;
    border-radius: 10%;
    text-align: center;
    background: rgba(158, 165, 177, 0.4);
    padding: 0px auto;
    margin-left: 0px;
    margin-bottom: 30px;
}

.circleTwo {
    display: inline-block;
    min-width: 220px;
    height: 210px;
    border-radius: 10%;
    text-align: center;
    background: rgba(158, 165, 177, 0.4);
    padding: 0px auto;
    margin-left: 20px;
    margin-bottom: 30px;
}

.circleThree {
    display: inline-block;
    min-width: 220px;
    height: 210px;
    border-radius: 10%;
    text-align: center;
    background: rgba(158, 165, 177, 0.4);
    padding: 0px auto;
    margin-left: 20px;
    margin-bottom: 30px;
}

.circleFourth {
    display: inline-block;
    min-width: 220px;
    height: 210px;
    border-radius: 10%;
    text-align: center;
    background: rgba(158, 165, 177, 0.4);
    padding: 0px auto;
    margin-left: 20px;
    margin-bottom: 30px;
}

.circleFifth {
    display: inline-block;
    min-width: 220px;
    height: 210px;
    border-radius: 10%;
    text-align: center;
    background: rgba(158, 165, 177, 0.4);
    padding: 0px auto;
    margin-left: 20px;
    margin-bottom: 30px;
}

.weather-forecast-date {
    padding-top: 20px;
    font-size: 30px;
}

p {
    text-transform: uppercase;
    font-size: 22px;
    margin: 0 auto;
    font-family: "Shadows Into Light Two", cursive;
    font-weight: bold;
}

.openSource {
    font-size: 22px;
    margin-left: 80px;
    font-family: "Shadows Into Light Two", cursive;
}

.high {
    color: #fa500a96;
    font-size: 25px;
}

.low {
    color: #0000ff73;
    font-size: 25px;
}

.bigArrow {
    min-width: auto;
    max-width: max-content;
    margin-left: 150px;
    margin-top: 30px;
}

.red {
    font-size: 90px;
    color: #fa500a96;
}

.blue {
    font-size: 90px;
    color: #0000ff73;
}

.table {
    min-width: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    font-weight: bold;
}

.tableTwo {
    list-style: none;
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 29px;
    font-family: "Shadows Into Light Two", cursive;
}

.row {
    margin-top: 50px;
    margin-left: 0px;
    min-width: max-content;
}

.time {
    border-color: none;
    max-width: fit-content;
    margin-left: 20px;
    font-size: 25px;
}

.center {
    text-align: center;
}

.location {
    padding-left: 30px;
}

.cityName {
    font-size: 50px;
    font-family: "Shadows Into Light Two", cursive;
}

.temp {
    font-size: 47px;
    font-family: "Shadows Into Light Two", cursive;

    margin-left: 180px;
}

.mostly {
    font-size: 37px;
    padding-left: 10px;

    font-family: "Shadows Into Light Two", cursive;
}

.highOne {
    font-size: 34px;
    color: #fa500a96;
    padding-left: 0px;
}

.lowOne {
    font-size: 34px;
    color: #0000ff73;
    padding-left: 30px;
}

.searchForm {
    font-family: "Shadows Into Light Two", cursive;
    background-color: rgba(158, 165, 177, 0.4);
    border-color: rgb(10, 10, 10);
    padding-left: 100px;
}

.bigTemp {
    margin-left: 180px;
}

.sun {
    margin-left: -30px;
}

.hour {
    margin-left: 30px;
}

input[type="submit"] {
    background-color: rgba(158, 165, 177, 0.4);
    border-radius: 50%;
    border-color: none;
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #555156f0;
}

.rowC {
    display: flex;
    flex-direction: row;
}

.Search {
    margin-left: 180px;
    margin-bottom: 30px;
}

.footer {
    font-family: "Shadows Into Light Two", cursive;
    font-size: 20px;
    margin-left: 90px;
}

.link {
    color: rgb(27, 141, 207);
    font-weight: bold;
}