.container {
    background-image: url(./images/cloud.jpg);
    border: solid;
    min-width: max-content;
    max-width: 1230px;
    margin: 20px 30px 10px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
}

.Weatherinfo {
    min-width: 1230px;
}

.circleOne {
    display: inline-block;
    min-width: 190px;
    height: 190px;
    border-radius: 10%;
    text-align: center;
    background: rgba(158, 165, 177, 0.4);
    padding: 0px auto;
    margin-left: 0px;
    margin-bottom: 30px;
}

.weather-forecast-date {
    padding-top: 20px;
    font-size: 30px;
}

p {
    text-transform: uppercase;
    font-size: 22px;
    margin: 0 auto;
    font-family: "Shadows Into Light Two", cursive;
    font-weight: bold;
}


.high {
    color: #fa500a96;
    font-size: 25px;
}

.low {
    color: #0000ff73;
    font-size: 25px;
}


.red {
    font-size: 90px;
    color: #fa500a96;
}

.blue {
    font-size: 90px;
    color: #0000ff73;
}


.tableTwo {
    list-style: none;
    padding: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 25px;
    font-family: "Shadows Into Light Two", cursive;
}

.time {
    border-color: none;
    max-width: fit-content;
    margin-left: 0px;
    font-size: 25px;

    font-family: "Shadows Into Light Two", cursive;
}

.center {
    text-align: center;
}

.location {
    padding-left: 30px;
}

.CityName {

    font-size: 50px;
    font-family: "Shadows Into Light Two", cursive;
}

.temp {
    font-size: 47px;
    font-family: "Shadows Into Light Two", cursive;
    margin-left: 180px;
}

.mostly {
    font-size: 20px;
    margin-left: -30px;
    margin-top: 10px;
    font-family: "Shadows Into Light Two", cursive;
}

.highOne {
    font-size: 34px;
    color: #fa500a96;
    padding-left: 80px;
}

.lowOne {
    font-size: 34px;
    color: #0000ff73;
    padding-left: 30px;
}

.searchForm {
    font-family: "Shadows Into Light Two", cursive;
    background-color: rgba(158, 165, 177, 0.4);
    border-color: rgb(10, 10, 10);
    padding-left: 100px;
}

.search {
    margin-left: 10px;
}

.bigTemp {
    margin-left: 180px;
}

.hour {
    margin-top: 30px;
    margin-left: 30px;
}

input[type="submit"] {
    background-color: rgba(158, 165, 177, 0.4);
    border-radius: 50%;
    border-color: none;
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #555156f0;
}


.footer {
    font-family: "Shadows Into Light Two", cursive;
    font-size: 20px;
    margin-left: 320px;
}

.link {
    color: rgb(27, 141, 207);
    font-weight: bold;
}

.temperature {
    position: relative;
    font-size: 50px;
    top: auto;
    font-family: "Shadows Into Light Two", cursive;

}

.units {
    font-size: 28px;
    position: relative;
    top: -20px;
    font-family: "Shadows Into Light Two", cursive;
}

.engine {
    margin-top: 30px;
}

.icon {
    margin-left: 180px;
    margin-right: 0px;
}